@model RegFormMVC.Models.Employee
@{
    ViewBag.Title = "UpdateEmployee";
}

<h2>UpdateEmployee</h2>
@using (Html.BeginForm())
{
    <div>
        Empid:<input type="text" name="eid" value=@Model.EmpID readonly />
    </div>
    <div>
        EmpName:<input type="text" name="name" value=@Model.EmpName />
    </div>
    <div>
        Dept:<input type="text" name="dept" value=@Model.Dept />
    </div>
    <div>
        Designation:<input type="text" name="desg" value=@Model.Desg />
    </div>
    <div>
        Salary:<input type="text" name="sal" value=@Model.Salary />
    </div>
    <div>
        ProjId : <input type="text" name="pid" value=@Model.projid />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
}
